<div class="searchblox-logo" > 
  <h2 class="searchblox-h2">SearchBlox Search Module</h2> 
</div>    
<p>
    <b>To administer your SearchBlox Search Collection, visit the 
    <a href="{{ searchblox_location }}/searchblox/admin/main.jsp" 
    target="_blank">SearchBlox Dashboard.</a></b>
</p>